<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Keysue</title>
	</head>
	<body>
		<p>{{username}}</p>
		<a href="/logout">Logout</a>
		<a href="/passwords">View passwords</a>

		<form method="post" action="/passwords/add">
			<input type="text" placeholder="Title" name="title">
			<input type="text" placeholder="Enter Full URL" name="link">
			<input type="text" placeholder="Username/Email/Login ID" name="username">
			<input type="text" placeholder="Password" name="password">
			<br>
			<p>Select access:</p>
			<div id="permissions_div"></div>
			<button type="submit">Submit</button>
		</form>

		<script src="/js/add_passwords.js"></script>
	</body>
</html>
